---
import ExperienceItem from "./ExperienceItem.astro"
const EXPERIENCE = [
  {
    date: "Marzo 2024 - Actualidad",
    title: "Desarrollador Full-Stack",
    company: "Dycotein | Fintech",
    description:
      "Empresa especializada en el desarrollo de  software para el sector financiero, incluyendo bancos y cooperativas de ahorro y crédito. Soy parte de un equipo multidisciplinario, enfocado en el desarrollo móvil y contribuyendo también en el frontend y backend. Trabajo estrechamente con diseñadores y otros desarrolladores para crear interfaces de usuario intuitivas, así como en la implementación de nuevas funcionalidades y mejoras en el sistema. Además, participo en la corrección de bugs y el mantenimiento de las aplicaciones, asegurando su correcto funcionamiento y optimización en todo momento.",
    //link: "https://www.dycotein.com/",
  },
  {
    date: "Octubre 2021 - Febrero 2024",
    title: "Desarrollador de Software",
    company: "Acatha",
    description:
      "Desarrollo de soluciones de software con un enfoque en sistemas ERP diseñados específicamente para el sector empresarial. Colaboré en la migración y optimización de un sistema legacy. En el backend, colaboré en la actualización del lenguaje y framework del sistema a su versión más reciente, logrando una mejora del 25% en la velocidad de respuesta de APIs y microservicios. En el frontend, trabajé en la migración de un sistema legacy a React 16+, lo que permitió optimizar la velocidad y el rendimiento de la interfaz de usuario, mejorando significativamente la experiencia del cliente final.",
    //link: "https://www.acatha.com/",
  },
  {
    date: "Octubre 2016 - Diciembre 2019",
    title: "Ingeniero de Desarrollo",
    company: "Procelec Cia. Ltda",
    description:
      "Soluciones tecnológicas para tránsito y movilidad. Desarrollé firmware para sistemas embebidos, creando funcionalidades clave para dispositivos electrónicos, y diseñé hardware para proyectos innovadores relacionados con el Internet de las Cosas (IoT), abarcando desde la conceptualización hasta la implementación.",
    //link: "https://www.procelec.ec/",
  },
]
---

<ol class="relative mt-16">
  {
    EXPERIENCE.map((experience) => (
      <li class="">
        <ExperienceItem {...experience} />
      </li>
    ))
  }
</ol>
